.bg-img {
  width: 100%;
  height: 650px;
  background: url("../../../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-bottom: 160px;
}
